<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form class="form" [formGroup]="form">
    <p>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput name="name" formControlName="name" maxlength="100" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Celular</mat-label>
        <input matInput name="cellPhoneNumber" mask="(00) 00000-0000" formControlName="cellPhoneNumber" required>
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onSaveClick()" type="submit" color="primary"
    [disabled]="!form.valid || form.pristine">Salvar</button>
  <button mat-raised-button (click)="onCancelClick()" color="danger">Cancelar</button>
</div>