@model LoginViewModel

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>Insira seus Dados</h2>
                </div>

                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <p>Usuario Admin: miguelpatreze</p>
                        <p>Usuario Comum: miguelpadoze</p>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input class="form-control" placeholder="Usuário" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Senha: 123456" asp-for="Password" autocomplete="off">
                        </div>

                        <button type="submit" class="btn btn-primary" name="button" value="login">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>